<h1>About</h1>

<p>This app was built by Walton Lee for the use of Tufts Students of various
interests to find people who share their taste in games/activities.
If you have any questions, issues or suggestions don't hesitate to contact me by
email, facebook or raven.</p>

<p>One of the original founders of Tufts Smash and Tufts Gaming Hub, I am
currently doing a fifth-year master's at Tufts University. When not studying, coding
or TAing, I spend my time playing Ultimate Frisbee for the Tufts Emen, holding my reputation
for the best Super Smash Brothers Melee Player on the Tufts Medford Campus and playing
just about any kind of game I can get my hands on.</p>

<p>Thanks for using my app!</p>
