<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for making a new game, <%= @user.name %>!</h1>
    <p>You made a new game yay!</p>
  </body>
</html>
