<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @current_user.name %> has made a new <%= @gametype.name %> game>!</h1>
    <p>a new game has been made, yay!</p>
  </body>
</html>
