<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @current_user.name %> has made a new <%= @game.gametype.name %> game!</h1>
    <p>Join the game here! <%= link_to 'join game', game_url(@game.id, user_token: @user.authentication_token, user_email: @user.email) %></p>
  </body>
</html>
