@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */

/*body {
  padding-top: 60px;
}*/
/*

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}*/

/* navbar */
$bgDefault      : #f5dcff;
$bgHighlight    : #c49bff;
$colDefault     : #61559F;
$colHighlight   : #242052;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    padding: 0px;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-brand>img {
    height: 80px;
    width: auto;
  }
  .nav >li >a {
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    > .gravatar {
      padding-top: 17px;
      padding-bottom: 13px;
      padding-right: 8px;
    }
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/* tab color */
.nav-tabs>li>a {
  background-color: $colDefault; 
  border-color: $colDefault;
  color: #FFFFFF;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #FFFFFF;
  background-color: #49247a;
  border: 1px solid #49247a;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: $bgHighlight;
  background-color: $bgHighlight;
}

.nav-tabs>li.tag>a, .nav-tabs>li.tag>a:hover, .nav-tabs>li.tag>a:focus {
  color: #FFFFFF;
  border-color: $bgHighlight;
  background-color: $bgHighlight;
}

.effect1{
  box-shadow: 0 10px 6px -6px #BBB;
}

.round{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.submit{
  margin-top: 10px;
}

.top20{
  margin-top: 20px;
}

.btn-primary { 
  color: #FFFFFF; 
  background-color: #61559F; 
  border-color: #61559F; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #49247A; 
  border-color: #61559F; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #61559F; 
  border-color: #61559F; 
} 
 
.btn-primary .badge { 
  color: #61559F; 
  background-color: #FFFFFF; 
}
/* typography

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

 header 

#logo {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: -1px;
  margin-top: 16px;
  font-weight: bold;
  line-height: 25px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

 table 

.table > tbody > tr > td {
     vertical-align: middle;
}

 games 

.games {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .start {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .end {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

 Users index 

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
*/
