<footer class="footer">
  <small>
    <a>Big Game Hunter</a>
    by Walton Lee
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= mail_to "walton.lee@tufts.edu", "Contact" %></li>
    </ul>
  </nav>
</footer>
